<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Collection</title>
    {% load static %}
</head>
<body>
<h1>My Collection</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab numquam quod rem. Aut ea eaque eos est, et facilis id illo iste mollitia, officia voluptatem voluptatum. Consequatur corporis quam unde.</span><span>Aliquam debitis dolorem dolorum ex expedita itaque laudantium maxime modi nesciunt provident, quam quidem, quisquam rem reprehenderit veniam? Assumenda ea eaque ipsam maxime officiis qui quisquam recusandae sit vitae voluptatum?</span><span>Eveniet ex excepturi fugit harum id non quam quidem rem soluta, totam. Atque consequatur cupiditate debitis error facilis illum ipsum iure nam nostrum officia perspiciatis porro praesentium, quam, sit soluta.</span></p>
<img src="{% static 'assets/images.jpeg' %}" alt="">
</body>
</html>